.container {
  width: 1296px;
  margin: 0 auto;
}
.header-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.header-position-background {
  background-color: #10bbd5;
}

.header-logo-cart {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  width: 1296px;
  margin: 0 auto;
  position: relative;
  font-family: Cabin;
}
.price-cart {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cart-number {
  position: absolute;
  top: 6px;
  right: 14px;
}

.total-price {
  margin: 0;
}

.cart-button{
  border: 0;
  background: #10BBD5;
  cursor: pointer;
}

/* .................................main.......................................... */


.main{
  background: #EEEEEF;
}
.filters-background{
  background: #FFF;
}

.filters {
  display: flex;
  justify-content: space-between;
  font-family: Cabin;
  background: #fff;
}
.buy-option {
  display: flex;
  gap: 40px;
}
.filters-category {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}
.main-container {
  margin-top: 98px;
  padding-bottom: 120px;
}

.main-text {
  padding-top: 32px;
  padding-bottom: 23px;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  border-bottom: 1px solid #a8a8a8;
  font-family: Cabin;
}

.product-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  column-gap: 24px;
  row-gap: 32px;
  padding-left: 0;
  padding-top: 24px;
  justify-items: center;
}

.product-card-styles {
  position: relative;
}

.product-card-content {
  padding: 31px;
  border: 1px solid #a8a8a8;
  box-sizing: border-box;
  background-color: white;
}
.product-item {
  margin-left: 32px;
  box-sizing: content-box;
}
.article-author-price {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 242px;
}
.article {
  border-bottom: 1px solid #a8a8a8;
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  font-family: Cabin;
}
.author {
  color: #8e8e8e;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Cabin;
}
.price-old {
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: strikethrough;
  padding-left: 24px;
  font-family: Cabin;
}
.price {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 8px;
  text-decoration: none;
  font-family: Cabin;
}
.basket-button {
  cursor: pointer;
  width: 100%;
  padding: 8px 24px;
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  background: #4c394e;
  border: 0;
}
.basket-button-active {
  background: #4d762d;
}
.article-special {
  width: 242px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  bottom: 200px;
  left: calc(50% + 600px);
  cursor: pointer;
}

.background-chat-button {
  fill: #10bbd5;
}
.icon-chat-button {
  position: absolute;
  top: 9px;
  left: 12px;
}

.badge{
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
}
.badge-hit {
  background: #4200ff;
  position: absolute;
  top: 16px;
  left: 32px;
}
.badge-new{
  background: #AF39E7;
  position: absolute;
  top: 16px;
  left: 30px;
}
.badge-discount{
background: #EA33C0;
position: absolute;
  top: 16px;
  left: 72px;
}

.new-discount{
  position: absolute;
  top: 16px;
  left: 80px;
}

.discount{
  position: absolute;
  top: 16px;
  left: 32px;
}


/* ...........................footer................................. */
.footer-container {
  background-color: #4c394e;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.copy-rights {
  margin: 0;
}
